body {
    background-color: #e9f0f9;
  }
  .navbar {
    background-color: #007bff;
  }
  .navbar-brand {
    color: white;
  }
  .nav-link {
    color: white;
  }
  .nav-link:hover {
    color: #ffffff80;
  }
  .jumbotron {
    background-color: #007bff;
    color: white;
  }
  .jumbotron h1 {
    font-size: 4rem;
  }


  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
  }
  
  .jumbotron {
    background-color: #007bff;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .jumbotron h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .jumbotron p.lead {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .jumbotron hr {
    border-top: 1px solid #ffffff80;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .jumbotron p.text-justify {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 2rem;
  }


  .image-container {
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 150px;
    height: 150px;
    border: 5px solid #007bff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #home-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
  
  #home-button img {
    width: 50px;
    height: 50px;
  }